body { 
    
    background-color: antiquewhite;
    background-image: url(bg.jpg);
}

h2{
    text-align: center;
    color: darkolivegreen;
}

button{

  align-items: center;
  border: 0cap;
  border-radius: 10%;
  border-color: olivedrab;
  background-color: darkolivegreen;
  font-style: oblique;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  

}

table{
    background-color: palegoldenrod;
}


h1{
    text-align:center;
    font-family:'Courier New', Courier, monospace;
    font-size:100px;
    text-align:center;
    
    }

